.projects-hero {
    background: var(--white);
    padding: 100px 16px 0 16px;
}

.projects-page {
    padding: 25px 16px 120px 16px;
    background-color: var(--white);
}

.projects-page__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-bottom: 40px;
}

.pj-breadcrumbs {
    margin-bottom: 78px !important;
}

@media (max-width: 900px) {
    .projects-page__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects-hero {
        padding: 90px 20px 0 20px;
    }

    .projects-page {
        padding: 20px 20px 80px 20px;
    }
}

@media (max-width: 600px) {
    .projects-page {
        padding: 20px 20px 50px 20px;
    }

    .projects-page__grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 475px) {
    .projects-hero {
        padding: 90px 10px 0 10px;
    }

    .projects-page {
        padding: 20px 10px 50px 10px;
    }
}
