.benefits {
    padding: 80px 40px;
    background-color: var(--white);
}

.benefits__grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.benefits__item {

    flex: 0 0 calc(25% - 15px);
    max-width: calc(25% - 15px);

    background: linear-gradient(180deg, var(--dark-bg) 0%, var(--blue) 100%);

    border-radius: 10px;
    padding: 40px 20px 20px 20px;
    color: var(--white);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefits__item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(15, 28, 49, 0.4);
}

.benefits__icon-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.benefits__subtitle {
    margin-bottom: 16px;
}

.benefits__text {
    color: var(--white);
    opacity: 0.7;
}

@media (max-width: 1500px) {
    .benefits__item {
        flex: 0 0 calc(50% - 10px);
        max-width: calc(50% - 10px);
    }
}

@media (max-width: 1366px) {
    .benefits {
        padding: 80px 30px;
    }
}

@media (max-width: 780px) {
    .benefits {
        padding: 80px 20px;
    }
    .benefits__grid {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .benefits__grid {
        flex-direction: column;
        justify-content: center;
    }

    .benefits__item {
        flex: 0 0 100%;
        max-width: 100%;

        min-height: auto;
        padding: 25px 20px;
    }

    .benefits__icon-wrap svg { width: 50px; height: 50px; }
}

@media (max-width: 475px) {
    .benefits {
        padding: 80px 10px;
    }
}
