.policy-hero {
    padding: 100px 16px 0 16px;
}
.policy-content {
    padding: 0 16px 20px 16px;
}

.warranty-hero__title {
    color: var(--blue) !important;
    margin-top: 16px;
    margin-bottom: 24px;
}

.policy-content__title {
    color: var(--blue) !important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.breadcrumbs-polytico {
    margin-bottom: 38px !important;
}